/* color and background color  RGB Red Green Blue 0-255*/
#heading1{
    color: aqua;
    background-color: lightcoral;
}

#heading2{
    color: crimson;
    background: lightgreen;
}

#heading3{
    color: rgb(11, 82, 144);
}

/* RGBA 0-1 optacity/transparacy */

#heading4{
    color: rgb(100, 200, 56);
    background: rgba(0, 0, 0, 0.9);
    color: rgba(red, green, blue, alpha);
}

/* HEX Value */
body{
    background: #daa9b4;
}