
/* css gradient
body{
    display: flex;
}

div{
    width: 150px;
    height: 500px;
    margin: 5px;

}

.one{
    background: linear-gradient(to bottom, red, green);
}

.two{
    background: linear-gradient(to top, red, green, blue, yellow);
}

.three{
    background: linear-gradient(350deg, red, green);
}

.four{
    background: linear-gradient(to top left, red, green);
}

.five{
    background: linear-gradient(to top right, rgb(151, 66, 66), green);
}

.six{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 250, 0, 0.1));
} */
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color: orange;
}

.banner{
    background:url("./images/image2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/first-image.jpg"), center/cover fixed no-repeat; 
} */


/* Float Property */

/* .bannerImage{
    border: 5px solid red;
    padding: 10px;
    overflow: hidden;
} */

/* img{
    float: left;
    float: right;
}

p{
    clear: right;
    clear: left;
} */

/* .firstImage{
    float: right;
    margin-left: 50px;
} */

/* .secondImage{
    float: left;
    height: 300px;
}

p{
    clear: both;
} */
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    float: left;
    height: 200px;
    width: 33.33%;
}

.one{
    background-color: red;
}

.two{
    background-color: blue;
}

.three{
    background-color: green;
}

h1{
    clear: both;
} */

/* Position Static Relative Absolute Fixed  */
/* 
div{
    border: 3px solid yellow;
    background-color: blue;
    margin-top: 40px;
    position: relative;
}

.one{
    background-color: aquamarine;
    position: relative;
}

.two{
    background-color: antiquewhite;
    position: relative;
}

.special{
    background-color: lightcoral;
    font-size: 20px;
    position: absolute;
    top:50%;
    left:50%;
} */

/* div{
    border: 3px solid yellow;
    background-color: lightblue;
    margin-top: 40px;
    position: relative;
}

button{
    background-color: red;
    font-size: large;
    color: white;
    position: fixed;
    top: 0;
    right:0;
} */


/* 

Media Queries
Responsive Design
Style Element on different screen sizes
min-width: --starting from
max-width: --up to
mobile first

*/

/*
body{
    background: lightcyan;
}
.baneerMQ{
    background-color: lightblue;

}

h1{
    color: white;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize; 
} */
/* 
@media screen and (min-width: 576px ){
    body{
        background-color: lightsalmon;
    }

    .bannerMQ{
        background:  lightslategrey;
    }

    h1{
        color: red;
        font-size: 60px;
    }
} */
 
/* @media screen and (min-width: 876px ){
    body{
        background-color: green;
    }

    .bannerMQ{
        background:  blueviolet;
    }

    h1{
        color: yellow;
        font-size: 60px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}    */

/* @media screen and (max-width: 876px ){
    body{
        background-color: green;
    }

    .bannerMQ{
        background:  blueviolet;
        border-radius: 20px;
    }

    h1{
        color: yellow;
        font-size: 60px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}    */

/* 
    z-index ---- z-axis 
    position static --- doesnt work
*/

img{
    width: 100px;
    height: 100px;
    position: absolute;
}

.baneerIndex{
    margin: 20px;
    width: 80vw;
    height: 70vh;
    border: 5px solid green;
    position: relative;
}

.oneImg{
    top: 0;
    left: 0;
    z-index: 0;
}

.twoImg{
    top: 10%;
    left: 10%;
    z-index: -1;
}

.threeImg{
    top: 20%;
    left: 20%;
    z-index: -2;
}