
/* css gradient
body{
    display: flex;
}

div{
    width: 150px;
    height: 500px;
    margin: 5px;

}

.one{
    background: linear-gradient(to bottom, red, green);
}

.two{
    background: linear-gradient(to top, red, green, blue, yellow);
}

.three{
    background: linear-gradient(350deg, red, green);
}

.four{
    background: linear-gradient(to top left, red, green);
}

.five{
    background: linear-gradient(to top right, rgb(151, 66, 66), green);
}

.six{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 250, 0, 0.1));
} */
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color: orange;
}

.banner{
    background:url("./images/image2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/first-image.jpg"), center/cover fixed no-repeat; 
} */


/* Float Property */

/* .bannerImage{
    border: 5px solid red;
    padding: 10px;
    overflow: hidden;
} */

/* img{
    float: left;
    float: right;
}

p{
    clear: right;
    clear: left;
} */

/* .firstImage{
    float: right;
    margin-left: 50px;
} */

/* .secondImage{
    float: left;
    height: 300px;
}

p{
    clear: both;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    float: left;
    height: 200px;
    width: 33.33%;
}

.one{
    background-color: red;
}

.two{
    background-color: blue;
}

.three{
    background-color: green;
}

h1{
    clear: both;
}