/* Display Block inline inline-block box-sizing box-border */

/*  Default Display Property
    Block: Alwys starts a new line and take full width
    Inline: Does not start and only take up as much as cotent space. 


    Block: Top Bottom Margin Respected
    Inline: Top Bottom Margin Not Respected

    Mobile Navbar Example:-
    list-style-type: property
    descent selectors

*/

.block{
    background: blue;
    color: white;
    /* display: inline; */

    /* Horizonatal Centering */
    width: 150px;
    margin: 20px auto;
    /* margin-left: auto;
    margin-right: auto; */
}

.inline{
    background: red;
    color: white;
    /* display: block; */
}

/* Horizonatal Centering */

body{
    /* text-align: center; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Mobile Navbar Example */

.mobileNav{
    background: yellowgreen;
    color: white;
    padding: 20px;
    margin: 20px;
}

/* .unorderdList{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

ul li{
    list-style-type: square;
}

ul li a{
    text-decoration: none;
    background-color: antiquewhite;
    /*
    padding: 20px;
    margin: 10px 10px;
     */
    display: block;
    padding: 10px 10px;
    /* margin: 10px; */
}

/* 
ul  a{
    text-transform: uppercase;
} */

/* inline-block */

.inlineBlock{
    font-size: 20px;
    background: red;
    margin: 60px;
    display: inline-block;
}

/*  Box-Sizing Border-Box
 Display Inline-Block */

/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 
 */

.box-1, .box-2, .box-3{
    width: 200px;
    height: 200px;
    color: white;
}

.box-1{
    background: red;
    padding: 20px;
    box-sizing: border-box;
}

.box-2{
    background: blue;
}

.box-3{
    background: green;
    padding: 20px;
}


/* 
    display: none
    opacity: 0
    visibility: hidden
*/

/* div{
    background-color: aquamarine;
    margin: 10px;
    color: red;
} */

.none{
    display: none;
}

.opacity-1{
    opacity: 1;
}

.opacity-5{
    opacity: 0.5;
}

.opacity-0{
    opacity: 0;
}

.visibility{
    visibility: hidden;
}


/* background property */

.divSpecification{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 400px;
    color: green;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bigImg{
    background: url("./images/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.folderImg{
    background-image: url("./images/image3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.smallImg{
    background-image: url("./images/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}