/* CSS Selector */

/* *{
    color: green;
}

#heading{
   font-size: 40px;
   text-transform: uppercase; 
   color: aqua;
}

.heading{
    font-size: 60px;
    text-transform: capitalize;
    color: blueviolet;
}

#para{
    letter-spacing: 20px;
}

div h1{
    color: red;
}

div > h1{
    color: blue;
}

.header h1{
    color: cadetblue;
}

.header > h1{
    color: purple;
} */

/* ::first-line  ::first-letter */
/* 
p::first-line{
    font-weight: bold;
}

p::first-letter{
    font-size: 3rem;
} */

/*  :Hover Pseudo-Class Selector :hover */

/* 
p:hover{
    color: red;
}

.hoverHeader:hover{
    background-color: aqua;
    color: white;
}

a:hover{
    text-decoration: none;
} */

/*  :link :visited :hover :active */

a:link{
    color: aqua;
}

a:visited{
    color: red;
}

a:hover{
    color: blue;
}

a:active{
    color: green;
}

/* root element of the document
html element
general style
css variables
*/

:root{
    background-color: lightsalmon;
    font-size: 150%;
}

h1{
    font-size: 3rem;
}

.absolute{
    font-size: 24px;
}

.responsive{
    font-size: 1.5rem;
}

/*  transform: translate(), rotate(), scale(), skew()
    transition: change over time
        transition-property:
        transition-duration:
    animation: change over time with points
*/

div{
    width: 150px;
    height: 150px;
    display: inline-block;
}

/* div:hover{
    background: chartreuse;
} */

.oneDiv{
    background-color: aqua;


}

.twoDiv{
    background-color: aquamarine;
    transition: background 3s 5s, border-radius;
   
}

.twoDiv:hover{
    background: red;
    border-radius: 20px;
   
}

.threeDiv{
    background-color: blueviolet;
    transition-property: background,  border-radius;
    transition-duration: 5s, 3s;
    transition-delay: 2s;
}

.threeDiv:hover{
    border-radius: 15px;
}

/* 
    how the transition takes place
    trasition-timing-function:
    transition: all 3s here 5s;
    ease = default
    ease = slow start, fast, slow end
    linear = same speed start to end
    ease-in = slow start
    ease-out = slow end
    ease-in-out: slow start fast slow end

*/

.setDiv{
    width: 100px;
    height: 100px;
    background-color: green;
    color: white; 
    margin: 50px;
    transition: all 1s linear; 
}

.setDiv:hover{
    transform: translateX(100px);
}

.ease{
    /* transition: all 2s ease; */
    transition-timing-function: ease;
}

.linear{

    transition-timing-function: linear;
}

.ease-in{

    transition-timing-function: ease-in;
}

.ease-out{

    transition-timing-function: ease-out;
}

.ease-in-out{

    transition-timing-function: ease-in-out;
}

/* Animation 
    Transition 0 = 100%
    Animation 0 1% 2% ... 100%

    animation-fill-mode: what values are applied by the aniamation outside the time it is executing
*/

.divAniTra{
    width: 200px;
    height: 100px;
    margin: 20px;
}

.transition{
    background:lightgreen;
    transition: all 2s linear;
}

.transition:hover{
    background: yellow;
    transform: translateX(100px);
}

.animation{
    background: lightblue;
    /* animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: 3; 
    animation: move 20s infinite;*/

    animation: move 5s 2;
    animation-fill-mode: forwards;
}

/* @keyframes move{
    0%{
        transform: translateX(20px);
    }
    50%{
        transform: translateX(100px);
        background-color: red;
    }
    75%{
        transform: translateX(-200px);
        background-color: yellow;
    }
    100%{
        transform: translateX(20px);
        background-color: green;
    }
} */

@keyframes move{
    0%{
        opacity: 0;
    }
    25%{
        transition: translateX(200px);
        opacity: 0.25;
    }
    50%{
        transition: translateX(-100px);
        opacity: 1;
    }
    100%{
        transition: translateX(0);
        opacity: 0.5;
    }
}