/* 
    CSS variable
    FontAwesome Icons
    test-shadow, box-shadow
    browser prefixes
    semantic HTML
    Emmet Snippets
*/

/* 
    CSS Variables AKA Custom Properties hold a value and reuse it

    --varName:value;
    property: var(--varName)
    scope:-
        :root{} === global
        element === local
        and property


.heading{
    color: aqua;
}

.text{
    color: cadetblue;
}

.main{

}

.main-text{
    color: lightgreen;
}

.second-heading{
    color: aqua;
}

.third-heading{
    color: black;
}

*/
/* Global Scope */
:root{
    --primaryColor : blue;
    --secoundaryColor : green;
    --mainTransition: all 0.4s linear;
}

.heading{
    color: var(--primaryColor);
}

.secound-heading:hover{
    color: var(--primaryColor);
}

.secound-heading:hover{
    color: var(--secoundaryColor);
    transition: var(--mainTransition);
}

.third-heading{
    color: var(--primaryColor);
}

/* Local Scope */

div{
    --primaryRed: red;
}

.main-test{
    color: var(--primaryRed);
}

.third-heading{
    color: var(--primaryRed);
}

/* 
    ICONS
    Font-Awesome Icons
    Free, Easy to get up running, simple syntax
*/

.fa-home{
    color: green;
    font-size: 4rem;
}

.socialIcon{
    font-size: 200px;
    color: blue;
}

/* text-shadow and box-shadow */

.mainShadow{
    text-shadow: 1px 1px 3px red;
}

.boxShadow{
    width: 200px;
    height: 100px;
    background-color: green;
    margin: 20px;
    /* box-shadow: 3px 5px 5px red; */
    transition: all 3s linear;
}

.boxShadow:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*  HTML Semantic tags */

